apiVersion: v1
kind: Service
metadata:
  name: s-front-end
  labels:
    app: front-end
    service: s-front-end
    version: v1
  namespace: {{ data_plane_namespace }}
spec:
  ports:
  - protocol: TCP
    name: http
    port: 80
    targetPort: 8079
  selector:
    app: front-end