apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: ss-gw
  namespace: {{ data_plane_namespace }}
spec:
  selector:
    istio: ingressgateway
  servers:
    - hosts:
        - {{ "'*'" if host_url is undefined else host_url }}
      port:
        name: http
        number: 80
        protocol: HTTP
