apiVersion: v1
kind: Service
metadata:
  name: queue-master
  labels:
    app: queue-master
    service: queue-master
  annotations:
    prometheus.io/path: "/prometheus"
  namespace: {{ data_plane_namespace }}
spec:
  ports:
  - protocol: TCP
    name: http
    port: 80
    targetPort: 80
  selector:
    app: queue-master
