apiVersion: v1
kind: Service
metadata:
  name: user-db
  labels:
    app: user-db
    service: user-db
  namespace: {{ data_plane_namespace }}
spec:
  ports:
  - protocol: TCP
    name: mongodb
    port: 27017
    targetPort: 27017
  selector:
    app: user-db
