apiVersion: v1
kind: Service
metadata:
  name: user
  labels:
    name: user
  namespace: {{ data_plane_namespace }}
spec:
  ports:
  - protocol: TCP
    name: tcp
    port: 80
    targetPort: 80
  selector:
    name: user
