apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: ss-vs
  namespace: {{ data_plane_namespace }}
spec:
  gateways:
    - ss-gw
  hosts:
    - '*'
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: s-front-end
            port:
              number: 80
